<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Проекты</title>
</head>

<head th:insert="blocks\head :: head"></head>

<body id="page-top">
<div id="wrapper">
    <nav style="background: #595959" class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 accent"
         th:insert="blocks/navLeft :: nav"></nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div th:insert="blocks/navTop :: nav"></div>
            <div class="container-fluid">
                <h3 class="text-dark mb-4">Проекты</h3>
                <div class="row mb-5px">
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                        <label class="col-form-label text-center text-dark">
                            <strong>Название</strong>
                        </label>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                        <label class="col-form-label text-center text-dark">
                            <strong>Категория</strong>
                        </label>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                        <label class="col-form-label text-center text-dark">
                            <strong>Срочность</strong>
                        </label>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center mxw-200px">
                        <label class="col-form-label text-center text-dark">
                            <strong>Дата</strong>
                        </label>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center mxw-100px"></div>
                </div>
                <div class="row">
                    <div class="col">
                        <form action="/projects/add" method="post">
                            <div class="row">
                                <div class="col">
                                    <input class="form-control" type="text" name="name" required>
                                </div>
                                <div class="col">
                                    <select class="form-select" name="category" required>
                                        <option th:each="i : ${categories}" th:value="${i}"
                                                th:label="${i.name}"></option>
                                    </select>
                                </div>
                                <div class="col">
                                    <select class="form-select" name="urgency" required>
                                        <option th:each="i : ${urgencies}" th:value="${i}"
                                                th:label="${i.name}"></option>
                                    </select>
                                </div>
                                <div class="col d-lg-flex justify-content-lg-center align-items-lg-center mxw-200px">
                                    <input class="form-control" type="date" name="date" id="date"
                                           onfocus="this.min=new Date().toISOString().split('T')[0]" required>
                                </div>
                                <div class="col d-lg-flex justify-content-lg-center align-items-lg-center mxw-100px">
                                    <button class="btn btn-outline-primary btn-sm fs-16px" type="submit">Добавить
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <hr>
                <div class="row mb-5px">
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                        <label class="col-form-label text-center text-dark">
                            <strong>Название</strong>
                        </label>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                        <label class="col-form-label text-center text-dark">
                            <strong>Категория</strong>
                        </label>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                        <label class="col-form-label text-center text-dark">
                            <strong>Срочность</strong>
                        </label>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                        <label class="col-form-label text-center text-dark">
                            <strong>Дата</strong>
                        </label>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                        <label class="col-form-label text-center text-dark">
                            <strong>Статус</strong>
                        </label>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center mxw-100px"></div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center mxw-80px"></div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center mxw-100px"></div>
                </div>
                <div th:each="i : ${projects}" class="row mb-5px">
                    <div class="col">
                        <form th:action="'/projects/ ' + ${i.id} + '/edit/'" method="post">
                            <div class="row">
                                <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                                    <input th:value="${i.name}" class="form-control" type="text"
                                           readonly>
                                </div>
                                <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                                    <input th:value="${i.category.name}" class="form-control" type="text" readonly>
                                </div>
                                <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                                    <input th:value="${i.urgency.name}" class="form-control" type="text" readonly>
                                </div>
                                <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                                    <input th:value="${i.date}" class="form-control" type="date" readonly>
                                </div>
                                <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                                    <select name="status" required class="form-select">
                                        <option th:each="s : ${statuses}" th:value="${s}" th:label="${s.name}"
                                                th:selected="${s == i.status}"></option>
                                    </select>
                                </div>
                                <div class="col d-lg-flex justify-content-lg-center align-items-lg-center mxw-100px">
                                    <button class="btn btn-outline-primary btn-sm fs-16px" type="submit">Изменить
                                    </button>
                                </div>
                                <div class="col d-lg-flex justify-content-lg-center align-items-lg-center mxw-80px">
                                    <a th:href="'/projects/' + ${i.id} + '/tasks/'"
                                       class="btn btn-outline-primary btn-sm fs-16px">Задачи</a>
                                </div>
                                <div class="col d-lg-flex justify-content-lg-center align-items-lg-center mxw-100px">
                                    <a th:href="'/projects/' + ${i.id} + '/delete/'"
                                       class="btn btn-outline-primary btn-sm fs-16px">Удалить</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<script>
    $(document).ready(function () {
        $('.select').change(function () {
            window.location.href = $(this).val();
        });
    });
</script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>