<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Задачи</title>
</head>

<head th:insert="blocks\head :: head"></head>

<body id="page-top">
<div id="wrapper">
    <nav style="background: #595959" class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 accent"
         th:insert="blocks/navLeft :: nav"></nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div th:insert="blocks/navTop :: nav"></div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <h3 class="text-dark mb-4">Задачи</h3>
                    </div>
                </div>
                <div class="row mb-5px">
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                        <label class="col-form-label text-center text-dark">
                            <strong>Наименование</strong>
                        </label>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                        <label class="col-form-label text-center text-dark">
                            <strong>Категория</strong>
                        </label>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                        <label class="col-form-label text-center text-dark">
                            <strong>Выполняющий</strong>
                        </label>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                        <label class="col-form-label text-center text-dark">
                            <strong>Дата</strong>
                        </label>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                        <label class="col-form-label text-center text-dark">
                            <strong>Статус</strong>
                        </label>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center mxw-100px"></div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center mxw-90px"></div>
                </div>
                <div th:each="i : ${user.tasks}" class="row mb-5px">
                    <div class="col">
                        <form th:action="'/tasks/' + ${i.id} + '/edit'" method="post">
                            <div class="row">
                                <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                                    <input th:value="${i.name}" class="form-control" type="text"
                                           readonly>
                                </div>
                                <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                                    <input th:value="${i.category.name}" class="form-control" type="text"
                                           readonly>
                                </div>
                                <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                                    <input th:value="${i.employee.fio}" class="form-control" type="text" readonly>
                                </div>
                                <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                                    <input th:value="${i.date}" class="form-control" type="date" readonly>
                                </div>
                                <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                                    <select name="status" required class="form-select">
                                        <option th:each="s : ${statuses}" th:value="${s}" th:label="${s.name}"
                                                th:selected="${s == i.status}"></option>
                                    </select>
                                </div>
                                <div class="col d-lg-flex justify-content-lg-center align-items-lg-center mxw-100px">
                                    <button class="btn btn-outline-primary" type="submit">Изменить</button>
                                </div>
                                <div class="col d-lg-flex justify-content-lg-center align-items-lg-center mxw-90px">
                                    <a class="btn btn-outline-primary" th:href="'/tasks/' + ${i.id} + '/description'">Детали</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>